In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("olympics.csv")

In [5]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !,02 !,03 !,Total,№ Games,01 !,02 !,03 !,Combined total
1,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70

In [9]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head(4)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM

In [7]:
df['Gold'].idxmax()

'United States'

# Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?

Summer Gold−Winter GoldTotal Gold
Summer Gold−Winter GoldTotal Gold
 
Only include countries that have won at least 1 gold in both summer and winter.

This function should return a single string value.

In [25]:
df1=df[(df['Gold'] != 0) & df['Gold.2'] !=0]

In [47]:
formula=abs((df1['Gold']-df1['Gold.2'])/(df1['Combined total']))
type(formula)
formula.idxmax()

'Austria'

# Question 4 
##Write a function that creates a Series called "Points" which is a weighted value where each gold medal (Gold.2) counts for 3 points, silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

This function should return a Series named Points of length 146

In [57]:
print(df.shape)
df.head(2)

(146, 16)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG

In [67]:
s1=df['Gold.2']*3 + df['Silver.2']*2 +df['Bronze.2']*1
print(type(s1))
print(s1.shape)
print(s1)

<class 'pandas.core.series.Series'>
(146,)
Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Length: 146, dtype: int64

# Part 2

Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

This function should return a single string value.

In [13]:
df = pd.read_csv('census.csv')
print(df.shape)
df.head(3)

(3193, 100)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499

In [14]:
d1=df[df['STNAME']=="Alabama"]
d1.head(4)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299

In [15]:
d1['CTYNAME'].count()

68

In [16]:
df['STNAME'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [17]:
st=[]
county=[]
for ST in df['STNAME'].unique():
    d1=df[df['STNAME']==ST]
    county_count=d1['CTYNAME'].count()
    st.append(ST)
    county.append(county_count)
    
s1=pd.Series(data=county, index=st)
s1.idxmax()

'Texas'

In [18]:
def answer_five():
    st=[]
    county=[]
    for ST in df['STNAME'].unique():
        d1=df[df['STNAME']==ST]
        county_count=d1['CTYNAME'].count()
        st.append(ST)
        county.append(county_count)
        s1=pd.Series(data=county, index=st)
        return s1.idxmax()

In [19]:
answer_five()

'Alabama'

# ### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [20]:
df = pd.read_csv('census.csv')
print(cdf.shape)
df.head(3)

NameError: name 'cdf' is not defined

In [21]:
df1=df.set_index('STNAME')

df1

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
STNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,Alabama,4779736,4780127,4785161,4801108,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Alabama,50,3,6,1,1,Autauga County,54571,54571,54660,55253,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Alabama,50,3,6,1,3,Baldwin County,182265,182265,183193,186659,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
Alabama,50,3,6,1,5,Barbour County,27457,27457,27341,27226,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
Alabama,50,3,6,1,7,Bibb County,22915,22919,22861,22733,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyoming,50,4,8,56,37,Sweetwater County,43806,43806,43593,44041,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
Wyoming,50,4,8,56,39,Teton County,21294,21294,21297,21482,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
Wyoming,50,4,8,56,41,Uinta County,21118,21118,21102,20912,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
Wyoming,50,4,8,56,43,Washakie County,8533,8533,8545,8469,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
Wyoming,50,4,8,56,45,Weston County,7208,7208,7181,7114,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [22]:
# d={}
# a=[]
# for ST in df1.index.unique():
#     a=df1.loc[ST]
#     B=a['CENSUS2010POP'].nlargest(3)
#     d[ST]=[B.values]
    
df = pd.read_csv('census.csv')
print(cdf.shape)
df.head(3)

NameError: name 'cdf' is not defined

In [336]:

# # b=df['STATE']==1
# # a=df['STNAME']=='Alabama'
# # df[a&b]
# b=df['CENSUS2010POP'].nlargest(3)
# a=df['STNAME']=='Alabama'
# a=df[a]
# a
# a.loc[a['CENSUS2010POP'].nlargest(3).,df['CTYNAME']]

TypeError: 'Int64Index' object is not callable

In [340]:
df1=df.set_index(['STNAME','CTYNAME'])
df1.head(3)

                        SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME  CTYNAME
Alabama Alabama             40       3         6      1       0
        Autauga County      50       3         6      1       1
        Baldwin County      50       3         6      1       3

                        CENSUS2010POP  ESTIMATESBASE2010  POPESTIMATE2010  \
STNAME  CTYNAME
Alabama Alabama               4779736            4780127          4785161
        Autauga County          54571              54571            54660
        Baldwin County         182265             182265           183193

                        POPESTIMATE2011  POPESTIMATE2012  ...  \
STNAME  CTYNAME                                           ...
Alabama Alabama                 4801108          4816089  ...
        Autauga County            55253            55175  ...
        Baldwin County           186659           190396  ...

                        RDOMESTICMIG2011  RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME  CTYNAME
Alabama Alabama                 0.002295         -0.193196          0.381066
        Autauga County          7.242091         -2.915927         -3.012349
        Baldwin County         14.832960         17.647293         21.845705

                        RDOMESTICMIG2014  RDOMESTICMIG2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Alabama                 0.582002         -0.467369     1.030015
        Autauga County          2.265971         -2.530799     7.606016
        Baldwin County         19.243287         17.197872    15.844176

                        RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015
STNAME  CTYNAME
Alabama Alabama            0.826644     1.383282     1.724718     0.712594
        Autauga County    -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County    18.559627    22.727626    20.317142    18.293499

[3 rows x 98 columns]

In [356]:
df1.loc[('Alabama')].head(3)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
CTYNAME,,,,,,,,,,,,,,,,,,,,,
Alabama,40,3,6,1,0,4779736,4780127,4785161,4801108,4816089,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
Autauga County,50,3,6,1,1,54571,54571,54660,55253,55175,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
Baldwin County,50,3,6,1,3,182265,182265,183193,186659,190396,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499

In [353]:
# df1.loc[df1['Alabama'],df1['CENSUS2010POP']]
# df.loc[1:5,['total_bill','sex','day']]

In [432]:
# d={}
# for i in df['STNAME'].unique():
#     m1=df[df['STNAME']==ST]
#     final
#     final=df[m1&m2]
# final

TypeError: Cannot perform 'and_' with a dtyped [float64] array and scalar of type [bool]

In [500]:
d={}
m1=df[df['STNAME']=='Alabama']
m2=m1[['CENSUS2010POP','CTYNAME']]
m3=m2.set_index('CTYNAME')
m3['CENSUS2010POP'].nlargest(3)
ind=pd.Series(m3['CENSUS2010POP'].nlargest(3).index)
m3['CENSUS2010POP'].nlargest(3).values
a=str(ind.values)
d[a]=str(m3['CENSUS2010POP'].nlargest(3).values)
# ======

# m1=df[df['STNAME']=='Texas']
# m2=m1[['CENSUS2010POP','CTYNAME']]
# m3=m2.set_index('CTYNAME')
# m3['CENSUS2010POP'].nlargest(3)
# ind=pd.Series(m3['CENSUS2010POP'].nlargest(3).index)
# m3['CENSUS2010POP'].nlargest(3).values
# b=str(ind.values)
# d[b]=str(m3['CENSUS2010POP'].nlargest(3).values)
# d

{"['Alabama' 'Jefferson County' 'Mobile County']": '[4779736  658466  412992]',
 "['Texas' 'Harris County' 'Dallas County']": '[25145561  4092459  2368139]'}

In [124]:
d={}
l=[]
largest=0
largest_index=0
for d in df['STNAME'].unique():
    m1=df[df['STNAME']==d]
    m2=m1[['CENSUS2010POP','CTYNAME']]
    m3=m2.set_index('CTYNAME')
    cur_large=m3['CENSUS2010POP'].nlargest(3).sum()
    cur_large_index=m3['CENSUS2010POP'].nlargest(3).index
    print(cur_large)
    print(largest)
    if cur_large > largest:
        largest=cur_large
        print(largest)
        print("end first loop")
        largest_index=cur_large_index
print(largest_index)

5851194
0
5851194
end first loop
1099638
5851194
11189397
5851194
11189397
end first loop
3520005
11189397
50167874
11189397
50167874
end first loop
6251617
50167874
5384940
50167874
1633558
50167874
1203446
50167874
23045811
50167874
11413555
50167874
2498587
50167874
2148870
50167874
18942231
50167874
7883200
50167874
3688221
50167874
3895662
50167874
5376266
50167874
5406095
50167874
1807166
50167874
7608749
50167874
8849266
50167874
12906586
50167874
6964990
50167874
3399687
50167874
7662039
50167874
1246686
50167874
2628858
50167874
5073227
50167874
2012414
50167874
10506868
50167874
2930976
50167874
24113524
50167874
11356104
50167874
903677
50167874
13980040
50167874
5073387
50167874
5096118
50167874
15451733
50167874
1845392
50167874
5461093
50167874
1084596
50167874
7900430
50167874
31606159
50167874
4310104
50167874
843928
50167874
9520744
50167874
9451014
50167874
2150226
50167874
7122794
50167874
730814
50167874
Index(['California', 'Los Angeles County', 'San Diego County'], dtype='object', name='CTYNAME')

In [123]:
# d={}
# largest=[]
# largest_index=[]
# for d in df['STNAME'].unique():
#     m1=df[df['STNAME']==d]
#     m2=m1[['CENSUS2010POP','CTYNAME']]
#     m3=m2.set_index('CTYNAME')
#     cur_large=m3['CENSUS2010POP'].nlargest(3).tolist()
#     cur_large_index=m3['CENSUS2010POP'].nlargest(3).index
#     print("Current is "+str(cur_large))
#     print("Cur Index is "+str(cur_large_index))
#     if  cur_large>largest:
#         largest=cur_large
#         largest_index=cur_large_index
# #         print("Condition\n")
#         print("Largest"+str(largest))
#         print("Largest index"+str(largest_index))
#         print("end\n")
    
        
cur_large
largest_index

Current is [4779736, 658466, 412992]
Cur Index is Index(['Alabama', 'Jefferson County', 'Mobile County'], dtype='object', name='CTYNAME')
Largest[4779736, 658466, 412992]
Largest indexIndex(['Alabama', 'Jefferson County', 'Mobile County'], dtype='object', name='CTYNAME')
end

Current is [710231, 291826, 97581]
Cur Index is Index(['Alaska', 'Anchorage Municipality', 'Fairbanks North Star Borough'], dtype='object', name='CTYNAME')
Current is [6392017, 3817117, 980263]
Cur Index is Index(['Arizona', 'Maricopa County', 'Pima County'], dtype='object', name='CTYNAME')
Largest[6392017, 3817117, 980263]
Largest indexIndex(['Arizona', 'Maricopa County', 'Pima County'], dtype='object', name='CTYNAME')
end

Current is [2915918, 382748, 221339]
Cur Index is Index(['Arkansas', 'Pulaski County', 'Benton County'], dtype='object', name='CTYNAME')
Current is [37253956, 9818605, 3095313]
Cur Index is Index(['California', 'Los Angeles County', 'San Diego County'], dtype='object', name='CTYNAME')
Largest[37253956, 9818605, 3095313]
Largest indexIndex(['California', 'Los Angeles County', 'San Diego County'], dtype='object', name='CTYNAME')
end

Current is [5029196, 622263, 600158]
Cur Index is Index(['Colorado', 'El Paso County', 'Denver County'], dtype='object', name='CTYNAME')
Current is [3574097, 916829, 894014]
Cur Index is Index(['Connecticut', 'Fairfield County', 'Hartford County'], dtype='object', name='CTYNAME')
Current is [897934, 538479, 197145]
Cur Index is Index(['Delaware', 'New Castle County', 'Sussex County'], dtype='object', name='CTYNAME')
Current is [601723, 601723]
Cur Index is Index(['District of Columbia', 'District of Columbia'], dtype='object', name='CTYNAME')
Current is [18801310, 2496435, 1748066]
Cur Index is Index(['Florida', 'Miami-Dade County', 'Broward County'], dtype='object', name='CTYNAME')
Current is [9687653, 920581, 805321]
Cur Index is Index(['Georgia', 'Fulton County', 'Gwinnett County'], dtype='object', name='CTYNAME')
Current is [1360301, 953207, 185079]
Cur Index is Index(['Hawaii', 'Honolulu County', 'Hawaii County'], dtype='object', name='CTYNAME')
Current is [1567582, 392365, 188923]
Cur Index is Index(['Idaho', 'Ada County', 'Canyon County'], dtype='object', name='CTYNAME')
Current is [12830632, 5194675, 916924]
Cur Index is Index(['Illinois', 'Cook County', 'DuPage County'], dtype='object', name='CTYNAME')
Current is [6483802, 903393, 496005]
Cur Index is Index(['Indiana', 'Marion County', 'Lake County'], dtype='object', name='CTYNAME')
Current is [3046355, 430640, 211226]
Cur Index is Index(['Iowa', 'Polk County', 'Linn County'], dtype='object', name='CTYNAME')
Current is [2853118, 544179, 498365]
Cur Index is Index(['Kansas', 'Johnson County', 'Sedgwick County'], dtype='object', name='CTYNAME')
Current is [4339367, 741096, 295803]
Cur Index is Index(['Kentucky', 'Jefferson County', 'Fayette County'], dtype='object', name='CTYNAME')
Current is [4533372, 440171, 432552]
Cur Index is Index(['Louisiana', 'East Baton Rouge Parish', 'Jefferson Parish'], dtype='object', name='CTYNAME')
Current is [1328361, 281674, 197131]
Cur Index is Index(['Maine', 'Cumberland County', 'York County'], dtype='object', name='CTYNAME')
Current is [5773552, 971777, 863420]
Cur Index is Index(['Maryland', 'Montgomery County', 'Prince George's County'], dtype='object', name='CTYNAME')
Current is [6547629, 1503085, 798552]
Cur Index is Index(['Massachusetts', 'Middlesex County', 'Worcester County'], dtype='object', name='CTYNAME')
Current is [9883640, 1820584, 1202362]
Cur Index is Index(['Michigan', 'Wayne County', 'Oakland County'], dtype='object', name='CTYNAME')
Current is [5303925, 1152425, 508640]
Cur Index is Index(['Minnesota', 'Hennepin County', 'Ramsey County'], dtype='object', name='CTYNAME')
Current is [2967297, 245285, 187105]
Cur Index is Index(['Mississippi', 'Hinds County', 'Harrison County'], dtype='object', name='CTYNAME')
Current is [5988927, 998954, 674158]
Cur Index is Index(['Missouri', 'St. Louis County', 'Jackson County'], dtype='object', name='CTYNAME')
Current is [989415, 147972, 109299]
Cur Index is Index(['Montana', 'Yellowstone County', 'Missoula County'], dtype='object', name='CTYNAME')
Current is [1826341, 517110, 285407]
Cur Index is Index(['Nebraska', 'Douglas County', 'Lancaster County'], dtype='object', name='CTYNAME')
Current is [2700551, 1951269, 421407]
Cur Index is Index(['Nevada', 'Clark County', 'Washoe County'], dtype='object', name='CTYNAME')
Current is [1316470, 400721, 295223]
Cur Index is Index(['New Hampshire', 'Hillsborough County', 'Rockingham County'], dtype='object', name='CTYNAME')
Current is [8791894, 905116, 809858]
Cur Index is Index(['New Jersey', 'Bergen County', 'Middlesex County'], dtype='object', name='CTYNAME')
Current is [2059179, 662564, 209233]
Cur Index is Index(['New Mexico', 'Bernalillo County', 'Doña Ana County'], dtype='object', name='CTYNAME')
Current is [19378102, 2504700, 2230722]
Cur Index is Index(['New York', 'Kings County', 'Queens County'], dtype='object', name='CTYNAME')
Current is [9535483, 919628, 900993]
Cur Index is Index(['North Carolina', 'Mecklenburg County', 'Wake County'], dtype='object', name='CTYNAME')
Current is [672591, 149778, 81308]
Cur Index is Index(['North Dakota', 'Cass County', 'Burleigh County'], dtype='object', name='CTYNAME')
Current is [11536504, 1280122, 1163414]
Cur Index is Index(['Ohio', 'Cuyahoga County', 'Franklin County'], dtype='object', name='CTYNAME')
Current is [3751351, 718633, 603403]
Cur Index is Index(['Oklahoma', 'Oklahoma County', 'Tulsa County'], dtype='object', name='CTYNAME')
Current is [3831074, 735334, 529710]
Cur Index is Index(['Oregon', 'Multnomah County', 'Washington County'], dtype='object', name='CTYNAME')
Current is [12702379, 1526006, 1223348]
Cur Index is Index(['Pennsylvania', 'Philadelphia County', 'Allegheny County'], dtype='object', name='CTYNAME')
Current is [1052567, 626667, 166158]
Cur Index is Index(['Rhode Island', 'Providence County', 'Kent County'], dtype='object', name='CTYNAME')
Current is [4625364, 451225, 384504]
Cur Index is Index(['South Carolina', 'Greenville County', 'Richland County'], dtype='object', name='CTYNAME')
Current is [814180, 169468, 100948]
Cur Index is Index(['South Dakota', 'Minnehaha County', 'Pennington County'], dtype='object', name='CTYNAME')
Current is [6346105, 927644, 626681]
Cur Index is Index(['Tennessee', 'Shelby County', 'Davidson County'], dtype='object', name='CTYNAME')
Current is [25145561, 4092459, 2368139]
Cur Index is Index(['Texas', 'Harris County', 'Dallas County'], dtype='object', name='CTYNAME')
Current is [2763885, 1029655, 516564]
Cur Index is Index(['Utah', 'Salt Lake County', 'Utah County'], dtype='object', name='CTYNAME')
Current is [625741, 156545, 61642]
Cur Index is Index(['Vermont', 'Chittenden County', 'Rutland County'], dtype='object', name='CTYNAME')
Current is [8001024, 1081726, 437994]
Cur Index is Index(['Virginia', 'Fairfax County', 'Virginia Beach city'], dtype='object', name='CTYNAME')
Current is [6724540, 1931249, 795225]
Cur Index is Index(['Washington', 'King County', 'Pierce County'], dtype='object', name='CTYNAME')
Current is [1852994, 193063, 104169]
Cur Index is Index(['West Virginia', 'Kanawha County', 'Berkeley County'], dtype='object', name='CTYNAME')
Current is [5686986, 947735, 488073]
Cur Index is Index(['Wisconsin', 'Milwaukee County', 'Dane County'], dtype='object', name='CTYNAME')
Current is [563626, 91738, 75450]
Cur Index is Index(['Wyoming', 'Laramie County', 'Natrona County'], dtype='object', name='CTYNAME')

Index(['California', 'Los Angeles County', 'San Diego County'], dtype='object', name='CTYNAME')

In [186]:
# df = pd.read_csv('census.csv')
# df.head(3)
# df=df[df['SUMLEV']==50]
# df2=df[['STNAME','CTYNAME','CENSUS2010POP']]
# df2=df2.set_index(['STNAME','CTYNAME'])
# df2.head(3)
# answer=df2['CENSUS2010POP'].nlargest(3).index.get_level_values(0).tolist()
# answer
# # idx.get_level_values(0)
# # 
def answer_six():
    df61=census_df[census_df['SUMLEV']==50]
    df62=df[['STNAME','CTYNAME','CENSUS2010POP']]
#     df63=df62.set_index(['STNAME','CTYNAME'])
#     df63.head(3)
#     answer=df63['CENSUS2010POP'].nlargest(3).index.get_level_values(0).tolist()
#     return answer
# answer_six()

In [141]:
df['CENSUS2010POP'].nlargest(3).index.tolist()
df.iloc[[190, 2566, 1860]]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
190,40,4,9,6,0,California,California,37253956,37254503,37334079,...,-1.148464,-1.163788,-1.339869,-0.862856,-1.981572,2.761704,2.647127,2.728645,3.743342,2.656065
2566,40,3,7,48,0,Texas,Texas,25145561,25146105,25244363,...,4.527491,5.484904,4.446476,6.072953,6.248252,7.616364,8.660719,7.739851,9.780487,9.978697
1860,40,1,2,36,0,New York,New York,19378102,19378087,19402920,...,-4.354557,-5.945385,-5.561401,-8.130297,-7.990563,1.439239,-0.402860,0.407960,-1.334639,-1.205321

In [143]:
df[df['CTYNAME']=='Illinois']

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
608,40,2,3,17,0,Illinois,Illinois,12830632,12831549,12841249,...,-5.24333,-5.805172,-5.30896,-7.509147,-8.174675,-3.02041,-3.519051,-2.830379,-4.625216,-5.24703

In [253]:
census_df = pd.read_csv('census.csv')
df.head(3)
st=[]
county=[]
df51=census_df[census_df['SUMLEV']==50]
for ST in df51['STNAME'].unique():
    df52=df[df51['STNAME']==ST]
    county_count=df52['CTYNAME'].count()
    county.append(county_count)
    st.append(ST)

s1=pd.Series(data=county, index=st)
s1.idxmax()

'Texas'

In [272]:
# verification
a=df[df51['STNAME']=='Texas']
a['CTYNAME'].count()

254